@page
@model PrivacyModel
@{
    ViewData["Title"] = "关于";
}
<h1>@ViewData["Title"]</h1>

<p>Made by 162130316姜航 - 2024.6.14 - 现代软件开发技术实验二 - 采用ASP.NET Core Razor Pages</p>
<br/>

<img src="/images/grace.png" width="100%"/>
