@page
@model expr2.Pages.users.CreateModel

@{
    ViewData["Title"] = "创建用户";
}

<h1>创建用户</h1>

<h4>用户信息</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.userID" class="control-label"></label>
                <input asp-for="user.userID" class="form-control" />
                <span asp-validation-for="user.userID" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="user.password" class="control-label"></label>
                <input asp-for="user.password" class="form-control" />
                <span asp-validation-for="user.password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="user.name" class="control-label"></label>
                <input asp-for="user.name" class="form-control" />
                <span asp-validation-for="user.name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="user.gender" class="control-label"></label>
                <input asp-for="user.gender" class="form-control" />
                <span asp-validation-for="user.gender" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="user.birthdate" class="control-label"></label>
                <input asp-for="user.birthdate" class="form-control" />
                <span asp-validation-for="user.birthdate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="user.phone" class="control-label"></label>
                <input asp-for="user.phone" class="form-control" />
                <span asp-validation-for="user.phone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="创建" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-page="Index">回到列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
